/* .entire-signup-modal {
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.entire-signup-modal {
    min-height: 300px;
    height: auto;
    max-height: 500px; /* Set the maximum height for the modal */
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.signup-title {
    font-size: 20px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: normal;
}

.signup-form {
    display: flex;
    flex-direction: column;
    
}

.signup-input-field {
    width: 310px;
    border: 2px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
}

.signup-button {
    width: 318px;
    color: whitesmoke;
    background-color: #007bff;
    padding: 10px 20px;
    margin-top: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}

.signup-button:hover {
    width: 318px;
    background-color: whitesmoke;
    color: gray;
    padding: 10px 20px;
    border: 2px solid gray;
    box-shadow: 2px 2px gray;
    margin-top: 5px;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}