.card-image {
    height: 300px;
    width: 320px;
    border: 1px solid gray;
    border-radius: 15%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 80px;
    padding-top: 20px;
}

.under-image-top-line {
    display: flex;
    align-items: center;
}

.spot-location,
.price-line,
.star-rating {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px;
    color: black;
}

.price-line {
    margin-top: 5px;
}

.spot-location {
    font-weight: bold;
}

.price-num {
    font-weight: bold;
}

.card-stars {
    font-size: medium; 
}

.under-image {
    padding-top: 10px;
    padding-left: 5px;
}

.star-rating {
    margin-right: 40px;
}

.card {
    width: calc(33.33% - 20px);
    margin: 10px;
}




