.card-container {
    display: flex;
    justify-content: space-evenly;
}

.under-image-top-line {
    display: flex;
}

.spot-location {
    padding-right: 100px;
}

.cards {
    border: 1px solid #000;
}

img {
    
}