.create-spot-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-width: 2px;
    width: 500px;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input-field {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.entire-create-spot-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.create-submit-button {
    background-color: #007bff;
    color: whitesmoke;
    border-radius: 10px;
    border-color: whitesmoke;
    height: 30px;
}

.create-spot-title {
    color: #007bff;
    display: flex;
    justify-content: center;
}