.entire-create-spot-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.create-spot-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    border-width: 2px;
    width: 500px;
    height: 550px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.create-spot-title {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: bold;
    display: flex;
    margin-top: -10px;
    margin-bottom: -15px;
}

.input-field {
    width: 492px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    
  }



.create-submit-button {
    background-color: #007bff;
    color: whitesmoke;
    border-radius: 10px;
    border-color: whitesmoke;
    height: 35px;
    margin-top: 10px;
}

.form-input-headers {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important; 
}

.errors {
    color: red;
  }