.reserve-top-line {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
}

.spot-image {
    width: 800px;
    height: 350px;
    border-radius: 20px;
    
}

.name-line {
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
}

.spot-information-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.spot-name,
.spot-details {
    display: flex;
    padding-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

