.hidden {
    display: none
}

.site-title {
    color: #007bff;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-stretch: expanded;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}