.fa {
    padding-right: 10px;
}

.fas {

}

.menu-button {
    border-radius: 10px;
    background-color: white;
    display: flex;
    
}

ul {
    list-style: none;
  }
  
  li {
    list-style: none;
  }

  .hot-spot {
    width: 20px;
    height: 20px;
  }

  .site-title {

  }

  .header {
    display: flex;
  }

  