.fa {
  padding-right: 5px;
  font-size: 20px;
}

.fas {
  font-size: 20px;
}

.menu-button {
    border-radius: 30px;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .menu-user-items {
    border: 1px solid grey;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
  }
  
  .li-input:hover {
    color: #007bff;
    background-color: lightgray;
    
  }

  li {
    list-style: none;
  }

  .hot-spot {
    width: 40px;
    height: 20px;
  }

  .site-title {

  }

  .header {
    display: flex;
  }

  