.login-title {
    /* padding-bottom: 10px;
    display: flex;
    justify-content: center; */
}

.login-button {
    /* background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; */

}

.login-form {
    /* width: 100% */
}

.credential-input,
.password-input {
    width: 100%
}

.entire-login-modal {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    padding: 30px;
    height: 300px;
    width: 200px;
}

/* .login-button {
    width: 80%
}

.form {
    border: none
} */